
*{
      
    
    margin: 0;
    padding: 0;
    justify-items: center;
    justify-content: center;
    /* outline: 1px solid red; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navBar {
    background-color: black;
    width: 100%; /* Ancho del 100% para ocupar todo el ancho de la pantalla */
    position: fixed; /* Fija la barra de navegación en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
  }

main{
    color: whitesmoke;
    font-size: clamp(1.04em, 4.8vw, 1em);
    
}
body {
    margin: 0;
    margin-top: 150px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}


@media (min-width: 768px) {
    
  
    .article {
        
      max-width: 100%; /* Ancho máximo para cada tarjeta */
      margin: 0;
      padding: 1em;
      background-color: darkslateblue;
      border-radius: 20px;
      background: rgba(72, 61, 139, 0.6);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(11.5px);
      -webkit-backdrop-filter: blur(11.5px);
      border: 1px solid rgba(72, 61, 139, 0.3);
    }
    .product--container {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
      gap: 2em; /* Espacio entre las tarjetas */
      justify-items: center;
      padding: 2%; /* Ajusta el espacio alrededor del contenido */
    }
  
    .product--image {
      width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
      height: auto; /* Mantén la relación de aspecto de la imagen */
    }
  
    .product-description {
      text-align: center; /* Centra el texto horizontalmente */
    }
  
    .titles {
      font-size: 2rem;
      margin: 0;
      color: white;
      margin-bottom: 20px;
    }
  }

/* Estilos para la tarjeta de producto */







