
*{
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

.products--container{
    display: flex;
    flex-direction: column;
}

article {
    margin: 1em .5em;
    padding: 1em;
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 15%;
}


.hero__title{
    display: flex;
    text-align: center;
    padding: .5em;
    justify-content: space-around;
}