

.filter__container {
  display: grid;
  padding: 0 1em; 
}

.filter__checkbox {
  display: none;
}



.filter__checkbox:not(:checked) + .filter__label .filter__icon {
  transform: scale(1);
  transition: 0.7s;
  width: 20px;
  position: absolute;
}

.filter__checkbox:not(:checked) + .filter__label .filter__icon:nth-child(1) {
  transform: rotateZ(-60deg);
  bottom: 17px;
  left: 65px;
  transition: all 0.4s;
}
.filter__checkbox:not(:checked) + .filter__label .filter__icon:nth-child(2) {
  transform: rotate(-120deg);
  top: 20px;
  left: 55px;
  transition: all 0.4s;
}

.filter__checkbox:checked + .filter__label .filter__icon {
  position: absolute;
  width: 20px;
}
.filter__checkbox:checked + .filter__label .filter__icon:nth-child(1) {
  transform: rotateZ(240deg);
  bottom: 17px;
  left: 65px;
  transition: all 0.3s;
}
.filter__checkbox:checked + .filter__label .filter__icon:nth-child(2) {
  top: 20px;
  left: 55px;
  transform: rotateZ(120deg);

  transition: all 0.3s;
}

.filter__checkbox:checked ~ .filterscontainer {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0;
}

.filter__label {
    display: flex;
    position: relative;
    gap: 10px;
    justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 70px;
  padding: 0 1em 0 0;
  height: 40px;
}

.filter__icon {
    background-color: lightgreen;
    height: 3px;
    width: 30px;
}

.filterscontainer {
    display: none;
    color: rgb(255, 255, 255);
    justify-content: space-around;
}

.div {
    display: flex;
    flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 0;
}

input {
  background-color: seagreen;
}
