
.product--container{
    display: flex;
    justify-content: center;
    gap: 2.5em;
}


.product--image{
    width: 30%;
}

.product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
