
.product--container{
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

.product--image{
    width: 30%;
    border: 1px solid black;
    border-radius: 10%;
}

.product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.titles{
}