/* Estilos para la barra de búsqueda */
.searchbarform {
    display: flex;
    padding: 1em 1em;
    gap: 0.5em;
  }
  
  .searchbarinput {
    padding: 0.2em ;
    border: 1px solid darkslateblue;
    background-color: white;
    width: 60%;
    border-radius: 30px; /* Bordes redondeados */
    font-size: 20px; /* Tamaño de fuente */
  }
  
  /* Estilos para el texto de marcador de posición en el input */
  .searchbarinput::placeholder {
    color: darkslateblue;
  }
  
  /* Estilos para el botón */
  .submitbtn {
    background-color: darkslateblue;
    color: whitesmoke;
    
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 30px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de apuntar al pasar el mouse */
    transition: background-color 0.3s ease-in-out; /* Transición de color de fondo */
  }
  
  /* Cambia el color de fondo del botón al pasar el mouse */
  .submitbtn:hover {
    background-color: #2a4a7f; /* Color de fondo del botón al pasar el mouse */
  }
  